$color__background-body: #fff !default;
$color__background-screen: #f1f1f1 !default;
$color__background-hr: #ccc !default;
$color__background-button: #e6e6e6 !default;
$color__background-pre: #eee !default;
$color__background-ins: #fff9c0 !default;

$color__text-screen: #21759b !default;
$color__text-input: #666 !default;
$color__text-input-focus: #111 !default;
$color__link: royalblue !default;
$color__link-visited: purple !default;
$color__link-hover: midnightblue !default;
$color__text-main: #404040 !default;

$color__border-button: #ccc #ccc #bbb !default;
$color__border-button-hover: #ccc #bbb #aaa !default;
$color__border-button-focus: #aaa #bbb #bbb !default;
$color__border-input: #ccc !default;
$color__border-abbr: #666 !default;
